
20200101_GenericDemo/GenericDemo/obj/Debug/netcoreapp3.1/GenericDemo.AssemblyInfo.cs
20200101_GenericDemo/GenericDemo/obj/Debug/netcoreapp3.1/GenericDemo.AssemblyInfoInputs.cache
20200101_GenericDemo/GenericDemo/obj/Debug/netcoreapp3.1/GenericDemo.csprojAssemblyReference.cache
20200101_Reflection/IDB/bin/Debug/netstandard2.0/IDB.deps.json
20200101_Reflection/IDB/bin/Debug/netstandard2.0/IDB.dll
20200101_Reflection/IDB/bin/Debug/netstandard2.0/IDB.pdb
20200101_Reflection/IDB/obj/IDB.csproj.nuget.cache
20200101_Reflection/IDB/obj/IDB.csproj.nuget.dgspec.json
20200101_Reflection/IDB/obj/IDB.csproj.nuget.g.props
20200101_Reflection/IDB/obj/IDB.csproj.nuget.g.targets
20200101_Reflection/IDB/obj/project.assets.json
20200101_Reflection/IDB/obj/Debug/netstandard2.0/IDB.AssemblyInfo.cs
20200101_Reflection/IDB/obj/Debug/netstandard2.0/IDB.AssemblyInfoInputs.cache
20200101_Reflection/IDB/obj/Debug/netstandard2.0/IDB.assets.cache
20200101_Reflection/IDB/obj/Debug/netstandard2.0/IDB.csproj.FileListAbsolute.txt
20200101_Reflection/IDB/obj/Debug/netstandard2.0/IDB.csprojAssemblyReference.cache
20200101_Reflection/IDB/obj/Debug/netstandard2.0/IDB.dll
20200101_Reflection/IDB/obj/Debug/netstandard2.0/IDB.pdb
20200101_Reflection/IMySql/obj/IMySql.csproj.nuget.cache
20200101_Reflection/IMySql/obj/IMySql.csproj.nuget.dgspec.json
20200101_Reflection/IMySql/obj/IMySql.csproj.nuget.g.props
20200101_Reflection/IMySql/obj/IMySql.csproj.nuget.g.targets
20200101_Reflection/IMySql/obj/project.assets.json
20200101_Reflection/IMySql/obj/Debug/netstandard2.0/IMySql.AssemblyInfo.cs
20200101_Reflection/IMySql/obj/Debug/netstandard2.0/IMySql.AssemblyInfoInputs.cache
20200101_Reflection/IMySql/obj/Debug/netstandard2.0/IMySql.assets.cache
20200101_Reflection/IMySql/obj/Debug/netstandard2.0/IMySql.csproj.CopyComplete
20200101_Reflection/IMySql/obj/Debug/netstandard2.0/IMySql.csproj.FileListAbsolute.txt
20200101_Reflection/IMySql/obj/Debug/netstandard2.0/IMySql.csprojAssemblyReference.cache
20200101_Reflection/IMySql/obj/Debug/netstandard2.0/IMySql.dll
20200101_Reflection/IMySql/obj/Debug/netstandard2.0/IMySql.pdb
20200101_Reflection/IMySql/bin/Debug/netstandard2.0/IDB.dll
20200101_Reflection/IMySql/bin/Debug/netstandard2.0/IDB.pdb
20200101_Reflection/IMySql/bin/Debug/netstandard2.0/IMySql.deps.json
20200101_Reflection/IMySql/bin/Debug/netstandard2.0/IMySql.dll
20200101_Reflection/IMySql/bin/Debug/netstandard2.0/IMySql.pdb
20200101_Reflection/IOracle/bin/Debug/netstandard2.0/IDB.dll
20200101_Reflection/IOracle/bin/Debug/netstandard2.0/IDB.pdb
20200101_Reflection/IOracle/bin/Debug/netstandard2.0/IOracle.deps.json
20200101_Reflection/IOracle/bin/Debug/netstandard2.0/IOracle.dll
20200101_Reflection/IOracle/bin/Debug/netstandard2.0/IOracle.pdb
20200101_Reflection/IOracle/obj/IOracle.csproj.nuget.cache
20200101_Reflection/IOracle/obj/IOracle.csproj.nuget.dgspec.json
20200101_Reflection/IOracle/obj/IOracle.csproj.nuget.g.props
20200101_Reflection/IOracle/obj/IOracle.csproj.nuget.g.targets
20200101_Reflection/IOracle/obj/project.assets.json
20200101_Reflection/IOracle/obj/Debug/netstandard2.0/IOracle.AssemblyInfo.cs
20200101_Reflection/IOracle/obj/Debug/netstandard2.0/IOracle.AssemblyInfoInputs.cache
20200101_Reflection/IOracle/obj/Debug/netstandard2.0/IOracle.assets.cache
20200101_Reflection/IOracle/obj/Debug/netstandard2.0/IOracle.csproj.CopyComplete
20200101_Reflection/IOracle/obj/Debug/netstandard2.0/IOracle.csproj.FileListAbsolute.txt
20200101_Reflection/IOracle/obj/Debug/netstandard2.0/IOracle.csprojAssemblyReference.cache
20200101_Reflection/IOracle/obj/Debug/netstandard2.0/IOracle.dll
20200101_Reflection/IOracle/obj/Debug/netstandard2.0/IOracle.pdb
20200101_Reflection/ISqlServer/bin/Debug/netstandard2.0/IDB.dll
20200101_Reflection/ISqlServer/bin/Debug/netstandard2.0/IDB.pdb
20200101_Reflection/ISqlServer/bin/Debug/netstandard2.0/ISqlServer.deps.json
20200101_Reflection/ISqlServer/bin/Debug/netstandard2.0/ISqlServer.dll
20200101_Reflection/ISqlServer/bin/Debug/netstandard2.0/ISqlServer.pdb
20200101_Reflection/ISqlServer/obj/ISqlServer.csproj.nuget.cache
20200101_Reflection/ISqlServer/obj/ISqlServer.csproj.nuget.dgspec.json
20200101_Reflection/ISqlServer/obj/ISqlServer.csproj.nuget.g.props
20200101_Reflection/ISqlServer/obj/ISqlServer.csproj.nuget.g.targets
20200101_Reflection/ISqlServer/obj/project.assets.json
20200101_Reflection/ISqlServer/obj/Debug/netstandard2.0/ISqlServer.AssemblyInfo.cs
20200101_Reflection/ISqlServer/obj/Debug/netstandard2.0/ISqlServer.AssemblyInfoInputs.cache
20200101_Reflection/ISqlServer/obj/Debug/netstandard2.0/ISqlServer.assets.cache
20200101_Reflection/ISqlServer/obj/Debug/netstandard2.0/ISqlServer.csproj.CopyComplete
20200101_Reflection/ISqlServer/obj/Debug/netstandard2.0/ISqlServer.csproj.FileListAbsolute.txt
20200101_Reflection/ISqlServer/obj/Debug/netstandard2.0/ISqlServer.csprojAssemblyReference.cache
20200101_Reflection/ISqlServer/obj/Debug/netstandard2.0/ISqlServer.dll
20200101_Reflection/ISqlServer/obj/Debug/netstandard2.0/ISqlServer.pdb
20200101_Reflection/Models/obj/Models.csproj.nuget.cache
20200101_Reflection/Models/obj/Models.csproj.nuget.dgspec.json
20200101_Reflection/Models/obj/Models.csproj.nuget.g.props
20200101_Reflection/Models/obj/Models.csproj.nuget.g.targets
20200101_Reflection/Models/obj/project.assets.json
20200101_Reflection/Models/obj/Debug/netstandard2.0/Models.AssemblyInfo.cs
20200101_Reflection/Models/obj/Debug/netstandard2.0/Models.AssemblyInfoInputs.cache
20200101_Reflection/Models/obj/Debug/netstandard2.0/Models.assets.cache
20200101_Reflection/Models/obj/Debug/netstandard2.0/Models.csproj.FileListAbsolute.txt
20200101_Reflection/Models/obj/Debug/netstandard2.0/Models.csprojAssemblyReference.cache
20200101_Reflection/Models/obj/Debug/netstandard2.0/Models.dll
20200101_Reflection/Models/obj/Debug/netstandard2.0/Models.pdb
20200101_Reflection/Models/bin/Debug/netstandard2.0/Models.deps.json
20200101_Reflection/Models/bin/Debug/netstandard2.0/Models.dll
20200101_Reflection/Models/bin/Debug/netstandard2.0/Models.pdb
20200101_Reflection/MyReflection/obj/MyReflection.csproj.nuget.cache
20200101_Reflection/MyReflection/obj/MyReflection.csproj.nuget.dgspec.json
20200101_Reflection/MyReflection/obj/MyReflection.csproj.nuget.g.props
20200101_Reflection/MyReflection/obj/MyReflection.csproj.nuget.g.targets
20200101_Reflection/MyReflection/obj/project.assets.json
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.AssemblyInfo.cs
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.AssemblyInfoInputs.cache
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.assets.cache
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.csproj.CopyComplete
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.csproj.FileListAbsolute.txt
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.csprojAssemblyReference.cache
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.dll
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.exe
20200101_Reflection/MyReflection/obj/Debug/netcoreapp3.1/MyReflection.pdb
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/IDB.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/IDB.pdb
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/IMySql.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/IMySql.pdb
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/ISqlServer.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/ISqlServer.pdb
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/Models.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/Models.pdb
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/MyReflection.deps.json
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/MyReflection.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/MyReflection.dll.config
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/MyReflection.exe
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/MyReflection.pdb
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/MyReflection.runtimeconfig.dev.json
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/MyReflection.runtimeconfig.json
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
20200101_Reflection/MyReflection/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
20200101_Reflection/ISqlServer/bin/Debug/netstandard2.0/Models.dll
20200101_Reflection/ISqlServer/bin/Debug/netstandard2.0/Models.pdb
20200105_Homework/DAL/bin/Debug/netstandard2.0/DAL.deps.json
20200105_Homework/DAL/bin/Debug/netstandard2.0/DAL.dll
20200105_Homework/DAL/bin/Debug/netstandard2.0/DAL.pdb
20200105_Homework/DAL/bin/Debug/netstandard2.0/Framework.dll
20200105_Homework/DAL/bin/Debug/netstandard2.0/Framework.pdb
20200105_Homework/DAL/bin/Debug/netstandard2.0/IDAL.dll
20200105_Homework/DAL/bin/Debug/netstandard2.0/IDAL.pdb
20200105_Homework/DAL/bin/Debug/netstandard2.0/Model.dll
20200105_Homework/DAL/bin/Debug/netstandard2.0/Model.pdb
20200105_Homework/DAL/obj/Debug/netstandard2.0/DAL.AssemblyInfo.cs
20200105_Homework/DAL/obj/Debug/netstandard2.0/DAL.AssemblyInfoInputs.cache
20200105_Homework/DAL/obj/Debug/netstandard2.0/DAL.assets.cache
20200105_Homework/DAL/obj/Debug/netstandard2.0/DAL.csproj.CopyComplete
20200105_Homework/DAL/obj/Debug/netstandard2.0/DAL.csproj.FileListAbsolute.txt
20200105_Homework/DAL/obj/Debug/netstandard2.0/DAL.csprojAssemblyReference.cache
20200105_Homework/DAL/obj/Debug/netstandard2.0/DAL.dll
20200105_Homework/DAL/obj/Debug/netstandard2.0/DAL.pdb
20200105_Homework/DAL/obj/DAL.csproj.nuget.cache
20200105_Homework/DAL/obj/DAL.csproj.nuget.dgspec.json
20200105_Homework/DAL/obj/DAL.csproj.nuget.g.props
20200105_Homework/DAL/obj/DAL.csproj.nuget.g.targets
20200105_Homework/DAL/obj/project.assets.json
20200105_Homework/Factory/bin/Debug/netstandard2.0/Factory.deps.json
20200105_Homework/Factory/bin/Debug/netstandard2.0/Factory.dll
20200105_Homework/Factory/bin/Debug/netstandard2.0/Factory.pdb
20200105_Homework/Factory/bin/Debug/netstandard2.0/Framework.dll
20200105_Homework/Factory/bin/Debug/netstandard2.0/Framework.pdb
20200105_Homework/Factory/bin/Debug/netstandard2.0/IDAL.dll
20200105_Homework/Factory/bin/Debug/netstandard2.0/IDAL.pdb
20200105_Homework/Factory/bin/Debug/netstandard2.0/Model.dll
20200105_Homework/Factory/bin/Debug/netstandard2.0/Model.pdb
20200105_Homework/Factory/obj/Factory.csproj.nuget.cache
20200105_Homework/Factory/obj/Factory.csproj.nuget.dgspec.json
20200105_Homework/Factory/obj/Factory.csproj.nuget.g.props
20200105_Homework/Factory/obj/Factory.csproj.nuget.g.targets
20200105_Homework/Factory/obj/project.assets.json
20200105_Homework/Factory/obj/Debug/netstandard2.0/Factory.AssemblyInfo.cs
20200105_Homework/Factory/obj/Debug/netstandard2.0/Factory.AssemblyInfoInputs.cache
20200105_Homework/Factory/obj/Debug/netstandard2.0/Factory.assets.cache
20200105_Homework/Factory/obj/Debug/netstandard2.0/Factory.csproj.CopyComplete
20200105_Homework/Factory/obj/Debug/netstandard2.0/Factory.csproj.FileListAbsolute.txt
20200105_Homework/Factory/obj/Debug/netstandard2.0/Factory.csprojAssemblyReference.cache
20200105_Homework/Factory/obj/Debug/netstandard2.0/Factory.dll
20200105_Homework/Factory/obj/Debug/netstandard2.0/Factory.pdb
20200105_Homework/Framework/bin/Debug/netstandard2.0/Framework.deps.json
20200105_Homework/Framework/bin/Debug/netstandard2.0/Framework.dll
20200105_Homework/Framework/bin/Debug/netstandard2.0/Framework.pdb
20200105_Homework/Model/obj/Model.csproj.nuget.cache
20200105_Homework/Model/obj/Model.csproj.nuget.dgspec.json
20200105_Homework/Model/obj/Model.csproj.nuget.g.props
20200105_Homework/Model/obj/Model.csproj.nuget.g.targets
20200105_Homework/Model/obj/project.assets.json
20200105_Homework/Model/obj/Debug/netstandard2.0/Model.AssemblyInfo.cs
20200105_Homework/Model/obj/Debug/netstandard2.0/Model.AssemblyInfoInputs.cache
20200105_Homework/Model/obj/Debug/netstandard2.0/Model.assets.cache
20200105_Homework/Model/obj/Debug/netstandard2.0/Model.csproj.FileListAbsolute.txt
20200105_Homework/Model/obj/Debug/netstandard2.0/Model.csprojAssemblyReference.cache
20200105_Homework/Model/obj/Debug/netstandard2.0/Model.dll
20200105_Homework/Model/obj/Debug/netstandard2.0/Model.pdb
20200105_Homework/Model/bin/Debug/netstandard2.0/Model.deps.json
20200105_Homework/Model/bin/Debug/netstandard2.0/Model.dll
20200105_Homework/Model/bin/Debug/netstandard2.0/Model.pdb
20200105_Homework/Framework/obj/Framework.csproj.nuget.cache
20200105_Homework/Framework/obj/Framework.csproj.nuget.dgspec.json
20200105_Homework/Framework/obj/Framework.csproj.nuget.g.props
20200105_Homework/Framework/obj/Framework.csproj.nuget.g.targets
20200105_Homework/Framework/obj/project.assets.json
20200105_Homework/Framework/obj/Debug/netstandard2.0/Framework.AssemblyInfo.cs
20200105_Homework/Framework/obj/Debug/netstandard2.0/Framework.AssemblyInfoInputs.cache
20200105_Homework/Framework/obj/Debug/netstandard2.0/Framework.assets.cache
20200105_Homework/Framework/obj/Debug/netstandard2.0/Framework.csproj.FileListAbsolute.txt
20200105_Homework/Framework/obj/Debug/netstandard2.0/Framework.csprojAssemblyReference.cache
20200105_Homework/Framework/obj/Debug/netstandard2.0/Framework.dll
20200105_Homework/Framework/obj/Debug/netstandard2.0/Framework.pdb
20200105_Homework/IDAL/bin/Debug/netstandard2.0/IDAL.deps.json
20200105_Homework/IDAL/bin/Debug/netstandard2.0/IDAL.dll
20200105_Homework/IDAL/bin/Debug/netstandard2.0/IDAL.pdb
20200105_Homework/IDAL/bin/Debug/netstandard2.0/Model.dll
20200105_Homework/IDAL/bin/Debug/netstandard2.0/Model.pdb
20200105_Homework/IDAL/obj/IDAL.csproj.nuget.cache
20200105_Homework/IDAL/obj/IDAL.csproj.nuget.dgspec.json
20200105_Homework/IDAL/obj/IDAL.csproj.nuget.g.props
20200105_Homework/IDAL/obj/IDAL.csproj.nuget.g.targets
20200105_Homework/IDAL/obj/project.assets.json
20200105_Homework/IDAL/obj/Debug/netstandard2.0/IDAL.AssemblyInfo.cs
20200105_Homework/IDAL/obj/Debug/netstandard2.0/IDAL.AssemblyInfoInputs.cache
20200105_Homework/IDAL/obj/Debug/netstandard2.0/IDAL.assets.cache
20200105_Homework/IDAL/obj/Debug/netstandard2.0/IDAL.csproj.CopyComplete
20200105_Homework/IDAL/obj/Debug/netstandard2.0/IDAL.csproj.FileListAbsolute.txt
20200105_Homework/IDAL/obj/Debug/netstandard2.0/IDAL.csprojAssemblyReference.cache
20200105_Homework/IDAL/obj/Debug/netstandard2.0/IDAL.dll
20200105_Homework/IDAL/obj/Debug/netstandard2.0/IDAL.pdb
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Libraries.deps.json
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Libraries.dll
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Libraries.dll.config
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Libraries.exe
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Libraries.pdb
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Libraries.runtimeconfig.dev.json
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Libraries.runtimeconfig.json
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Model.dll
20200105_Homework/Libraries/bin/Debug/netcoreapp3.1/Model.pdb
20200105_Homework/Libraries/obj/Libraries.csproj.nuget.cache
20200105_Homework/Libraries/obj/Libraries.csproj.nuget.dgspec.json
20200105_Homework/Libraries/obj/Libraries.csproj.nuget.g.props
20200105_Homework/Libraries/obj/Libraries.csproj.nuget.g.targets
20200105_Homework/Libraries/obj/project.assets.json
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.AssemblyInfo.cs
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.AssemblyInfoInputs.cache
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.assets.cache
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.csproj.CopyComplete
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.csproj.FileListAbsolute.txt
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.csprojAssemblyReference.cache
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.dll
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.exe
20200105_Homework/Libraries/obj/Debug/netcoreapp3.1/Libraries.pdb
